body {
    background-color: rgb(255, 255, 255);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
}
/* img{
    width: 100px;
    height: 100px;
}  */
 .copy{
    background-color: rgb(52, 61, 61);
}
.pri{
    background-color:  rgb(52, 61, 61);
}
.icon{
    background-color:  rgb(52, 61, 61);
}